<ion-content>
  <ion-header>
    <ion-toolbar>
      <ion-icon name="film-outline" slot="start"></ion-icon>
      <ion-searchbar placeholder="" search-icon="none" slot="end"/>
    </ion-toolbar>
  </ion-header>
  <div class="main-film">
    <div class="infos">
      <h1>Halo</h1>
      <div class="stars">
        <ion-icon name="star"></ion-icon>
        <ion-icon name="star"></ion-icon>
        <ion-icon name="star"></ion-icon>
        <ion-icon name="star"></ion-icon>
        <ion-icon name="star-half-outline"></ion-icon>
      </div>
      <h2>4.1/5</h2>
    </div>
    <div class="description">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has
      been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and
      scrambled it to make a type specimen book.
    </div>
  </div>

  <div class="reco">
    <h3>Vous aimerez peut être</h3>
    <div class="cards">
      <app-custom-card title="Test 1" src="../../assets/images/background.png" (imageClicked)="changeBackground($event)" description="Ceci est une description 1"/>
      <app-custom-card title="Test 2" src="../../assets/images/background2.png" (imageClicked)="changeBackground($event)" description="Ceci est une description 2"/>
      <app-custom-card title="Test 3" src="../../assets/images/background3.png" (imageClicked)="changeBackground($event)" description="Ceci est une description 3"/>
      <app-custom-card title="Test 4" src="../../assets/images/background4.png" (imageClicked)="changeBackground($event)" description="Ceci est une description 4"/>
      <app-custom-card title="Test 5" src="../../assets/images/background5.png" (imageClicked)="changeBackground($event)" description="Ceci est une description 5"/>
      <app-custom-card title="Test 6" src="../../assets/images/background6.png" (imageClicked)="changeBackground($event)" description="Ceci est une description 6"/>
    </div>
  </div>
</ion-content>
